$min-headertop : 4.5rem;
/* TRANSITION - HEADERTOP FIXED */
#htop_exchangeFixed{
	display: none;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	user-select: none;
	&.fixedTogg{
		display: block;
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
		user-select: auto;
		// transform: translateY(-100%);
    transition: 0.2s transform cubic-bezier(.3,.73,.3,.74);
	}
}
/* THEME - HEADER TOP */
.c_Htop{
	position: relative;
	&__c{
		background-color: $theme-clr-primary;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		@media (min-width: 991px){
			padding-top: 0;
			padding-bottom: 0;
		}
		display: block;
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
		user-select: auto;
		&.reduxheight{
			display: none;
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
			user-select: none;
		}
		&__ch{
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			justify-content: space-between;
			@media (min-width: 991px){
				justify-content: flex-start;
			}
			&__cLogo{
				max-width: 85px;
				width: auto;
				height: auto;
				@media (min-width: 991px){
					max-width: 115px;
				}
				&__c{
					display: flex;
					align-items: center;
					justify-content: flex-start;
				}
			}
			&__cBtnMob{
				margin-left: auto;
				pointer-events: auto;
				user-select: auto;
				opacity: 1;
				visibility: visible;
				@media (min-width: 991px){
					display: none !important;
					pointer-events: none;
					user-select: none;
					opacity: 0;
					visibility: hidden;
				}
				button{
					@include btn_hamburguer(27px, 3px, #FFFFFF, 0.5rem);
				}
				em{
					display: block;
			    font-size: .65rem;
			    font-style: normal;
			    text-align: center;
			    color: #FFFFFF;
				}
			}
			&__cOptions{
				position: fixed;
				width: 100%;
				top: 0;
				left: 0;
				min-height: 100vh;
				height: 100%;
				background-color: rgba(0,0,0,.4);
				z-index: 99999;
				transform: translateX(-200%);
				transition: .5s ease-in-out;
				pointer-events: none;
				overscroll-behavior-y: contain;
				&.show{
					transform: translateX(0);
					pointer-events: auto;
				}
				@media (min-width: 991px){
					display: block;
					position: relative;
					width: auto;
					min-height: unset;
					height: auto;
					z-index: 1;
					background-color: transparent;
					line-height: $min-headertop;
					margin-left: auto;
			    right: 0;
			    text-align: right;
			    pointer-events: auto;
			    transform: translateX(0);
					display: flex;
					align-items: center;
					justify-content: space-between;
					flex: 0 0 87%;
				}
				&__mMobile{
					position: relative;
					display: flex;
			    align-items: flex-start;
			    justify-content: flex-start;
			    padding: 0;
			    margin: 0;
			    background-color: $theme-clr-primary;
			    max-width: 285px;
			    min-height: 100vh;
			    width: 90%;
			    height: 100%;
			    right: 0;
			    margin-right: auto;
			    flex-flow: column nowrap;
			    padding-top: 0;
			    text-align: left;
					overscroll-behavior-y: contain;
					pointer-events: auto;
			    visibility: visible;
			    opacity: 1;
			    user-select: auto;
					@media (min-width: 991px){
				    display: none;
				    pointer-events: none;
				    visibility: hidden;
				    opacity: 0;
				    user-select: none;
					}
					#btn-sidebarl-close{
						position: absolute;
				    margin-left: 0;
				    top: 0;
				    right: -40px;
				    left: auto;
				    width: 40px;
				    height: 40px;
				    background-color: #000;
				    display: flex;
				    align-items: center;
				    justify-content: center;
				    text-align: center;
					}
					#btn-sidebarl-close--btn{
						cursor: pointer;
						position: initial;
				    margin-left: 0;
				    top: 10px;
				    left: 295px;
				    background-color: #fff;
				    animation-name: moveIconBurger;
				    animation-duration: .3s;
				    animation-timing-function: ease-in-out;
				    color: #fff;
				    font-size: 2rem;
				    display: inline-block;
				    transition: .3s;
				    width: 20px;
				    height: 20px;
				    background: linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 43%, #fff 45%, #fff 55%, rgba(0, 0, 0, 0) 57%, rgba(0, 0, 0, 0) 100%),linear-gradient(135deg, transparent 0%, transparent 43%, #fff 45%, #fff 55%, transparent 57%, transparent 100%);
				    border: none;
				    padding: .5rem;
				    z-index: 99999999;
					}
					&__m{
						display: flex;
						flex-flow: column nowrap;
						align-items: flex-start;
						justify-content: flex-start;
						width: 100%;
						margin-bottom: 1rem;
						@media (min-width: 991px){
							width: auto;
							flex-flow: row wrap;
							align-items: center;
							margin-bottom: 0;
						}
						&__i{
							flex: auto;
							width: 100%;
							@media (min-width: 991px){
								width: auto;
							}
						}
						&__link{
							display: block;
							color: $theme-clr-header-links;
							padding: 1.2rem 1rem;
							&:link,
					    &:visited,
					    &:focus,
					    &:active{
					    	color: $theme-clr-header-links;
					    }
							span{
								color: $theme-clr-header-links;
								font-weight: 500;
							}
					    &:hover{
					    	box-shadow: 4px 0 0 0 inset $theme-clr-header-links;
					    	background-color: darken($theme-clr-primary, 10%);
					    }
							&.active{
								box-shadow: 4px 0 0 0 inset $theme-clr-header-links;
								background-color: darken($theme-clr-primary, 10%);
							}
							@media (min-width: 991px){
								padding: 0 0.8rem;
								&:hover{
						    	box-shadow: unset;
						    }
								&:active{
									box-shadow: unset;
								}
							}
						}
						&.l_m-social{
							flex-flow: row wrap;
							@media (min-width: 991px){
								flex-flow: row wrap;
							}
							li{
								width: auto;
								a{
									padding: 0 .2rem;
									color: $theme-clr-header-links;
									&:hover{
										box-shadow: unset;
										background-color: $theme-clr-primary;
									}
									span{
										display: table;
										margin: 0 auto;
										svg{
											fill: $theme-clr-header-links;
										}
									}
								}
							}
						}
					}
				}
				&__mDesk{
					position: relative;
					display: flex;
			    align-items: flex-start;
			    justify-content: flex-start;
			    padding: 0;
			    margin: 0;
			    background-color: #fff;
			    max-width: 285px;
			    min-height: 100vh;
			    width: 90%;
			    height: 100%;
			    right: 0;
			    margin-right: auto;
			    flex-flow: column nowrap;
			    padding-top: 0;
			    text-align: left;
					overscroll-behavior-y: contain;
					@media (min-width: 991px){
						background-color: transparent;
				    align-items: center;
				    justify-content: space-between;
				    flex: 0 0 100%;
				    min-height: unset;
				    max-width: unset;
				    height: auto;
				    width: auto;
				    right: auto;
				    margin-right: 0;
				    flex-flow: row wrap;
					}
					&__m{
						display: flex;
						flex-flow: column nowrap;
						align-items: flex-start;
						justify-content: flex-start;
						width: 100%;
						margin-bottom: 1rem;
						@media (min-width: 991px){
							width: auto;
							flex-flow: row wrap;
							align-items: center;
							margin-bottom: 0;
						}
						&__i{
							flex: auto;
						}
						&__link{
							display: block;
							color: $theme-clr-header-links;
							padding: 1.2rem 1rem;
							&:link,
					    &:visited,
					    &:focus,
					    &:active{
					    	color: $theme-clr-header-links;
					    }
							span{
								color: $theme-clr-header-links;
								font-weight: 500;
							}
							@media (min-width: 991px){
								padding: 0 0.8rem;
						    &:hover{
						    	box-shadow: 0 -3px 0 0 inset $theme-clr-header-links;
						    	background-color: darken($theme-clr-primary, 10%);
						    }
								&.active{
									box-shadow: 0 -3px 0 0 inset $theme-clr-header-links;
									background-color: darken($theme-clr-primary, 10%);
								}
							}
						}
						&.l_m-social{
							flex-flow: row wrap;
							@media (min-width: 991px){
								flex-flow: row wrap;
							}
							li{
								a{
									padding: 0 .2rem;
									color: $theme-clr-header-links;
									&:hover{
										box-shadow: unset;
										background-color: $theme-clr-primary;
									}
									span{
										display: table;
										margin: 0 auto;
										svg{
											fill: $theme-clr-header-links;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
/* THEME - MAIN */
.c_wrapper{
	&__c{
		&__cHFix{
			&__cFx{
				position: fixed;
		    top: 0;
		    left: 0;
		    z-index: 99;
		    width: 100%;
		    min-height: 4.438rem;
		    min-height: calc($min-headertop - 0.5rem);
		    background-color: #fff;
		    box-shadow: 0 3px 3px rgb(0 0 0 / 15%);
				&__ct{
					padding-top: 0.5rem;
					padding-bottom: 0.5rem;
					@media (min-width: 991px){
						padding-top: 0;
						padding-bottom: 0;
					}
					display: block;
					opacity: 1;
					visibility: visible;
					pointer-events: auto;
					user-select: auto;
					&__c{
						display: flex;
						flex-flow: row wrap;
						align-items: center;
						justify-content: space-between;
						@media (min-width: 991px){
							justify-content: flex-start;
						}
						&__cLogo{
							max-width: 85px;
							width: auto;
							height: auto;
							@media (min-width: 991px){
								max-width: 115px;
							}
							&__c{
								display: flex;
								align-items: center;
								justify-content: flex-start;
							}
						}
						&__cBtnMob{
							margin-left: auto;
							pointer-events: auto;
							user-select: auto;
							opacity: 1;
							visibility: visible;
							@media (min-width: 991px){
								display: none !important;
								pointer-events: none;
								user-select: none;
								opacity: 0;
								visibility: hidden;
							}
							button{
								@include btn_hamburguer(27px, 3px, #000000, 0.5rem);
							}
							em{
								display: block;
						    font-size: .65rem;
						    font-style: normal;
						    text-align: center;
						    color: #000000;
							}
						}
						&__cOptions{
							position: fixed;
							width: 100%;
							top: 0;
							left: 0;
							min-height: 100vh;
							height: 100%;
							background-color: rgba(0,0,0,.4);
							z-index: 99999;
							transform: translateX(-200%);
							transition: .5s ease-in-out;
							pointer-events: none;
							overscroll-behavior-y: contain;
							&.show{
								transform: translateX(0);
								pointer-events: auto;
							}
							@media (min-width: 991px){
								display: block;
								position: relative;
								width: auto;
								min-height: unset;
								height: auto;
								z-index: 1;
								background-color: transparent;
								line-height: calc($min-headertop + 0.85rem);
								margin-left: auto;
						    right: 0;
						    text-align: right;
						    pointer-events: auto;
						    transform: translateX(0);
								display: flex;
								align-items: center;
								justify-content: space-between;
								flex: 0 0 87%;
							}
							&__mMobile{
								position: relative;
								display: flex;
						    align-items: flex-start;
						    justify-content: flex-start;
						    padding: 0;
						    margin: 0;
						    background-color: $theme-clr-primary;
						    max-width: 285px;
						    min-height: 100vh;
						    width: 90%;
						    height: 100%;
						    right: 0;
						    margin-right: auto;
						    flex-flow: column nowrap;
						    padding-top: 0;
						    text-align: left;
								overscroll-behavior-y: contain;
								pointer-events: auto;
						    visibility: visible;
						    opacity: 1;
						    user-select: auto;
								@media (min-width: 991px){
							    display: none;
							    pointer-events: none;
							    visibility: hidden;
							    opacity: 0;
							    user-select: none;
								}
								#btn-sidebarl-close{
									position: absolute;
							    margin-left: 0;
							    top: 0;
							    right: -40px;
							    left: auto;
							    width: 40px;
							    height: 40px;
							    background-color: #000;
							    display: flex;
							    align-items: center;
							    justify-content: center;
							    text-align: center;
								}
								#btn-sidebarl-close--btn{
									cursor: pointer;
									position: initial;
							    margin-left: 0;
							    top: 10px;
							    left: 295px;
							    background-color: #fff;
							    animation-name: moveIconBurger;
							    animation-duration: .3s;
							    animation-timing-function: ease-in-out;
							    color: #fff;
							    font-size: 2rem;
							    display: inline-block;
							    transition: .3s;
							    width: 20px;
							    height: 20px;
							    background: linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 43%, #fff 45%, #fff 55%, rgba(0, 0, 0, 0) 57%, rgba(0, 0, 0, 0) 100%),linear-gradient(135deg, transparent 0%, transparent 43%, #fff 45%, #fff 55%, transparent 57%, transparent 100%);
							    border: none;
							    padding: .5rem;
							    z-index: 99999999;
								}
								&__m{
									display: flex;
									flex-flow: column nowrap;
									align-items: flex-start;
									justify-content: flex-start;
									width: 100%;
									margin-bottom: 1rem;
									@media (min-width: 991px){
										width: auto;
										flex-flow: row wrap;
										align-items: center;
										margin-bottom: 0;
									}
									&__i{
										flex: auto;
										width: 100%;
										@media (min-width: 991px){
											width: auto;
										}
									}
									&__link{
										display: block;
										color: $theme-clr-header-fix-links;
										padding: 1.2rem 1rem;
										&:link,
								    &:visited,
								    &:focus,
								    &:active{
								    	color: $theme-clr-header-fix-links;
								    }
										span{
											color: $theme-clr-header-fix-links;
											font-weight: 500;
										}
								    &:hover{
								    	box-shadow: 4px 0 0 0 inset $theme-clr-header-fix-links;
								    	background-color: darken($theme-clr-header-fix-bg-links, 10%);
								    }
										&.active{
											box-shadow: 4px 0 0 0 inset $theme-clr-header-fix-links;
											background-color: darken($theme-clr-header-fix-bg-links, 10%);
										}
										@media (min-width: 991px){
											padding: 0 0.8rem;
											&:hover{
									    	box-shadow: unset;
									    }
											&:active{
												box-shadow: unset;
											}
										}
									}
									/*
									&.l_m-social{
										flex-flow: row wrap;
										@media (min-width: 991px){
											flex-flow: row wrap;
										}
										li{
											width: auto;
											a{
												padding: 0 .2rem;
												color: $theme-clr-header-links;
												&:hover{
													box-shadow: unset;
													background-color: $theme-clr-primary;
												}
												span{
													display: table;
													margin: 0 auto;
													svg{
														fill: $theme-clr-header-links;
													}
												}
											}
										}
									}
									*/
								}
							}
							&__mDesk{
								position: relative;
								display: flex;
						    align-items: flex-start;
						    justify-content: flex-start;
						    padding: 0;
						    margin: 0;
						    background-color: #fff;
						    max-width: 285px;
						    min-height: 100vh;
						    width: 90%;
						    height: 100%;
						    right: 0;
						    margin-right: auto;
						    flex-flow: column nowrap;
						    padding-top: 0;
						    text-align: left;
								overscroll-behavior-y: contain;
								@media (min-width: 991px){
									background-color: transparent;
							    align-items: center;
							    justify-content: space-between;
							    flex: 0 0 100%;
							    min-height: unset;
							    max-width: unset;
							    height: auto;
							    width: auto;
							    right: auto;
							    margin-right: 0;
							    flex-flow: row wrap;
								}
								&__m{
									display: flex;
									flex-flow: column nowrap;
									align-items: flex-start;
									justify-content: flex-start;
									width: 100%;
									margin-bottom: 1rem;
									@media (min-width: 991px){
										width: auto;
										flex-flow: row wrap;
										align-items: center;
										margin-bottom: 0;
									}
									&__i{
										flex: auto;
									}
									&__link{
										display: block;
										color: $theme-clr-header-fix-links;
										padding: 1.2rem 1rem;
										&:link,
								    &:visited,
								    &:focus,
								    &:active{
								    	color: $theme-clr-header-fix-links;
								    }
										span{
											color: $theme-clr-header-fix-links;
											font-weight: 500;
										}
										@media (min-width: 991px){
											padding: 0 0.8rem;
									    &:hover{
									    	box-shadow: 0 -3px 0 0 inset $theme-clr-header-fix-links;
									    	background-color: darken($theme-clr-header-fix-bg-links, 10%);
									    }
											&.active{
												box-shadow: 0 -3px 0 0 inset $theme-clr-header-fix-links;
												background-color: darken($theme-clr-header-fix-bg-links, 10%);
											}
										}
									}
									&.l_m-social{
										flex-flow: row wrap;
										@media (min-width: 991px){
											flex-flow: row wrap;
										}
										li{
											a{
												padding: 0 .2rem;
												color: $theme-clr-header-links;
												&:hover{
													box-shadow: unset;
													background-color: $theme-clr-primary;
												}
												span{
													display: table;
													margin: 0 auto;
													svg{
														fill: $theme-clr-header-links;
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
		&__cCurrPage{
			padding-top: 0.5rem;
			padding-bottom: 0.5rem;
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-flow: wrap row;
			&__cBreadCrumb{
				margin-right: 0.5rem;
				&__list{
					display: flex;
					align-items: center;
					justify-content: flex-start;
					li{
						margin-right: 0.4rem;
						&:last-child{
							margin-right: 0;
						}
					}
					&__item{
						span{
							a{
								color: $theme-clr-paragraph-black;
								&:link,
						    &:visited,
						    &:focus,
						    &:active{
						    	color: $theme-clr-paragraph-black;
						    }
								&:hover{
									text-decoration: underline;
								}
							}
						}
						&.enabled{
							span{
								color: $theme-clr-paragraph !important;
							}
						}
					}
					&__item-divise{
						span{
							color: $theme-clr-paragraph;
						}	
					}
				}
			}
			&__cDTime{
				margin-left: auto;
				span{
					color: $theme-clr-paragraph;
				}
			}
		}
		&__cTxtTitle{
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-flow: wrap row;
			padding-top: 1rem;
			padding-bottom: 1rem;
			padding-left: 0.5rem;
			padding-right: 0.5rem;
			row-gap: 0.5rem;
			background-color: $theme-clr-secondary;
			&__txt{
				margin-right: 0.5rem;
				&__cIcon{

				}
				&__cTxt{
					h1,h2,h3,h4,h5,h6{
						font-size: 1.45rem;
						font-weight: 400;
					}
				}
			}
			&__cLink{
				margin-left: auto;
				a{
					cursor: pointer;
					display: inline-block;
					text-align: center;
					background-color: $theme-clr-btn-linkinit;
					color: #fff;
					border: none;
					transition: all ease-in-out .2s;
					padding: 0.55rem 1.65rem;
					font-size: 1rem;
					border-radius: 1.3rem;
					&:link,
			    &:visited,
			    &:focus,
			    &:active{
			    	color: #fff;
			    }
			    &:hover{
			    	background-color: darken($theme-clr-btn-linkinit, 10%);
			    }
				}
			}
		}
		&__chtitle{
			padding-top: 0.65rem;
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 1.5rem;
			@media (min-width: 690px){
				padding-top: 0.9rem;
			}
			&__ct{
				&__title-h1{
					font-size: 1.5rem;
					font-style: normal;
					font-weight: 600;
					@media (min-width: 690px){
						margin-bottom: 0.5rem;
						font-size: 2.4rem;
					}
				}
				&__title-h3{
					font-size: 1.5rem;
					font-style: normal;
					font-weight: 600;
					@media (min-width: 690px){
						margin-bottom: 0.5rem;
						// font-size: 1.8rem;
					}
				}
				p{
					color: $theme-clr-paragraph;
					font-weight: 300;
				}
			}
		}
		&__cdis{
			&.d-fx{
				display: flex;
				flex: 0 0 100%;
			}
			&.ff-r-wrp{
				flex-flow: row wrap;
			}
			&.alg-i-c{
				align-items: center;
			}
			&.alg-i-fs{
				align-items: flex-start;
			}
			&.jc-sb{
				justify-content: space-between;
			}
			/* CONTENIDO - TABLA PRINCIPAL DE TARIFAS (SUNAT, DÓLAR Y EURO) */
			&__crate{
				flex: 50%;
				margin-bottom: 1rem;
				@media (min-width: 690px){
					margin-bottom: 0;
				}
				&__ctbl{				
			    max-width: 450px;
			    width: 100%;
			    margin-right: auto;
			    margin-left: auto;
			    @media (min-width: 690px){
			    	width: 90%;
			    	margin-right: auto;
			    	margin-left: 0;
			    }
					table, &__tbl{
						width: 100%;
						border: none;
				    border-collapse: collapse;
				    thead{
				    	tr{
				    		th{
				    			padding-bottom: 1rem;
				    			&.fz_1-4rem{
				    				font-size: 1.4rem;
				    				font-weight: 600;
				    			}
				    			&.talign-l{
				    				text-align: left;
				    			}
				    			&.talign-r{
				    				text-align: right;
				    				color: $theme-clr-paragraph;
				    				font-size: 1.1rem;
    								font-weight: 400;
				    			}
				    		}
				    	}
				    }
				    tbody{
				    	tr{
			    			&:nth-child(odd){
			    				background-color: #F5F5F5;
			    			}
			    			td{
			    				&:first-child{
				    				.c-descInfo{
				    					display: flex;
				    					align-items: center;
				    					justify-content: flex-start;
				    					flex-flow: row nowrap;
				    					line-height: 2.2;
				    					span{
				    						&:first-child{
				    							min-width: 25px;
				    							max-width: 25px;
				    							width: auto;
				    						}
				    						&:nth-child(2){
				    							font-size: 1.45rem;
				    							font-weight: 400;
				    							margin-left: .35rem;
				    						}
				    					}
				    				}
			    				}
			    				&:nth-child(2){
			    					.c-descInfo{
				    					display: flex;
				    					align-items: flex-end;
				    					justify-content: center;
				    					flex-flow: column nowrap;
				    					line-height: 1;
				    					&__cRateNumb{
				    						font-size: 1.45rem;
				    						font-weight: 400;
				    					}
			    						&__cCurrency{
			    							&.curr_asc-val{
			    								color: $theme-clr-rate-asc;
			    								svg{
			    									fill: $theme-clr-rate-asc;
			    								}
			    							}
			    							&.curr_des-val{
			    								color: $theme-clr-rate-des;
			    								svg{
			    									fill: $theme-clr-rate-des;
			    								}
			    							}
			    						}
				    				}
			    				}
			    				&:nth-child(3){
			    					.c-descInfo{
				    					display: flex;
				    					align-items: flex-end;
				    					justify-content: center;
				    					flex-flow: column nowrap;
				    					line-height: 1;
				    					&__cRateNumb{
				    						font-size: 1.45rem;
				    						font-weight: 400;
				    					}
			    						&__cCurrency{
			    							&.curr_asc-val{
			    								color: $theme-clr-rate-asc;
			    								svg{
			    									fill: $theme-clr-rate-asc;
			    								}
			    							}
			    							&.curr_des-val{
			    								color: $theme-clr-rate-des;
			    								svg{
			    									fill: $theme-clr-rate-des;
			    								}
			    							}
			    						}
				    				}
			    				}
			    			}
				    	}
				    }
					}
				}
			}
			/* CONTENIDO - FORMULARIO DE CONVERSIÓN DE DIVISAS */
			&__cfrmrate{
				flex: 50%;
				&__cont{				
					max-width: 450px;
					width: 100%;
					margin-left: auto;
					margin-right: auto;
					@media (min-width: 690px){
						width: 95%;
					}
					&__cTitle{
						&--title{
							margin-bottom: 0.5rem;
						}
					}
					&__frm{
						padding: 1rem 2rem;
						margin-left: auto;
						margin-right: auto;
						background-color: $theme-clr-frm;
						border-radius: 0.625rem;
						&__cvalfrm{
							display: flex;
							flex-flow: row nowrap;
							align-items: center;
							justify-content: space-between;
							margin-bottom: .85rem;
							&__cCurr{
								color: #fff;
								display: flex;
								flex-flow: row nowrap;
								align-items: center;
								justify-content: center;
								max-width: 127px;
								text-align: center;
								/*
								&:nth-child(3){
									text-align: right;
								}
								*/
								&__cNamCurr{
									display: flex;
									flex-flow: row nowrap;
									align-items: center;
									justify-content: center;
									line-height: 1.2;
									&__cPrefix{
										font-size: 1.625rem;
										margin-left: 0.25rem;
										margin-right: 0.25rem;
									}
									&__cNType{									
										font-size: 0.9rem;
										@media (min-width: 690px){
											font-size: 1rem;
										}
									}
								}
								&__cIcon{
									span{
										max-width: 34px;
										max-height: 34px;
										width: 95%;
										height: auto;
										display: inline-block;
										@media (min-width: 690px){
											min-width: 34px;
										}
										img{
											width: 100%;
											height: auto;
										}
									}
								}
							}
							&__cBtnCnvrt{
								button{
									cursor: pointer;
									border: thin solid #000;
									border-radius: 50%;
									max-width: 43px;
									width: 43px;
									height: 43px;
									background-color: #ffe01b;
									transition: ease-in-out .1s;
									display: flex;
									align-items: center;
									justify-content: center;
									text-align: center;
									&:hover{
										background-color: darken(#ffe01b, 10%);
									}
									span{
										display: flex;
										align-items: center;
										justify-content: center;
										text-align: center;
										padding: 0.35rem;
										transition: ease-in-out .4s;
										position: relative;
										svg{
											fill: #000;
										}
									}
									&.active span{
										transform: rotate(180deg);
									}
								}
							}
						}
						&__cfrm{
							&__cFunc{
								&__cControl{
									margin-bottom: 1rem;
									&__cDiviseValue{
										background-color: #fff;
										padding: 0.65rem;
										display: flex;
								    flex-flow: row nowrap;
								    align-items: center;
								    justify-content: flex-start;
										span{
											font-size: 1.5rem;
										}
										input{
											display: block;
	    								width: 100%;
											font-size: 1.5rem;
											border: none;
											outline: none;
											padding: 0 0 0 .65rem;
										}
									}
								}
							}
							&__cBtns{
								display: flex;
								align-items: center;
								justify-content: center;
								flex: 0 0 100%;
								a{
									cursor: pointer;
									max-width: 150px;
									width: 95%;
									display: flex;
									flex-flow: row nowrap;
									align-items: center;
									justify-content: center;
									text-align: center;
									margin-left: .5rem;
									margin-right: .5rem;
									margin-top: 0;
									margin-bottom: 0;
									padding: 0.5rem;
									border-radius: 1.125rem;
									color: #fff;
									transition: ease-in-out .1s;
									@media (min-width: 768px){
										margin-left: auto;
										margin-right: auto;
									}
								}
								&--calc{
									background-color: $theme-clr-frm-btn-calc;
									&:hover{
										background-color: $theme-clr-frm-btn-calc-hover;
									}
								}
								&--clean{
									background-color: $theme-clr-frm-btn-clean;
									&:hover{
										background-color: $theme-clr-frm-btn-clean-hover;
									}
								}
							}
						}
					}
				}
			}
			/* CONTENIDO - INTERBANCARIO */
			&__cinterbank{
				flex: 50%;
				margin-bottom: 1rem;
				@media (min-width: 690px){
					margin-bottom: 0;
				}
				&__cTitle{
					&__title-h1{
						font-size: 1.5rem;
						font-style: normal;
						font-weight: 600;
						@media (min-width: 690px){
							margin-bottom: 0.5rem;
							font-size: 2.4rem;
						}
					}
					&__title-h3{
						font-size: 1.5rem;
						font-style: normal;
						font-weight: 600;
						@media (min-width: 690px){
							margin-bottom: 0.5rem;
							// font-size: 1.8rem;
						}
					}
				}
				&__ctbl{				
			    max-width: 450px;
			    width: 100%;
			    margin-right: auto;
			    margin-left: auto;
			    @media (min-width: 690px){
			    	width: 90%;
			    	margin-right: auto;
			    	margin-left: 0;
			    }
					table, &__tbl{
						width: 100%;
						border: none;
				    border-collapse: collapse;
				    thead{
				    	tr{
				    		th{
				    			padding-bottom: 1rem;
							   	padding-left: .8rem;
							    padding-right: .8rem;
				    			&.fz_1-4rem{
				    				font-size: 1.4rem;
				    				font-weight: 600;
				    			}
				    			&.talign-l{
				    				text-align: left;
				    			}
				    			&.talign-r{
				    				text-align: right;
				    				color: $theme-clr-paragraph;
				    				font-size: 1.1rem;
    								font-weight: 400;
				    			}
				    		}
				    	}
				    }
				    tbody{
				    	tr{
			    			&:nth-child(odd){
			    				background-color: #F5F5F5;
			    			}
			    			td{
			    				&:first-child{
				    				.c-descInfo{
				    					display: flex;
				    					align-items: center;
				    					justify-content: flex-start;
				    					flex-flow: row nowrap;
				    					line-height: 2.2;
				    					span{
				    						&:first-child{
				    							min-width: auto;
				    							max-width: 100px;
				    							width: auto;
				    							font-size: 1.45rem;
				    						}
				    						&:nth-child(2){
				    							font-size: 1.45rem;
				    							font-weight: 400;
				    							margin-left: .35rem;
				    						}
				    						img, svg{
				    							width: 100%;
				    							height: auto;
				    						}
				    					}
				    				}
			    				}
			    				&:nth-child(2){
			    					.c-descInfo{
				    					display: flex;
				    					align-items: flex-end;
				    					justify-content: center;
				    					flex-flow: column nowrap;
				    					line-height: 1;
				    					&__cRateNumb{
				    						font-size: 1.45rem;
				    						font-weight: 400;
				    					}
			    						&__cCurrency{
			    							&.curr_asc-val{
			    								color: $theme-clr-rate-asc;
			    								svg{
			    									fill: $theme-clr-rate-asc;
			    								}
			    							}
			    							&.curr_des-val{
			    								color: $theme-clr-rate-des;
			    								svg{
			    									fill: $theme-clr-rate-des;
			    								}
			    							}
			    						}
				    				}
			    				}
			    				&:nth-child(3){
			    					.c-descInfo{
				    					display: flex;
				    					align-items: flex-end;
				    					justify-content: center;
				    					flex-flow: column nowrap;
				    					line-height: 1;
				    					&__cRateNumb{
				    						font-size: 1.45rem;
				    						font-weight: 400;
				    					}
			    						&__cCurrency{
			    							&.curr_asc-val{
			    								color: $theme-clr-rate-asc;
			    								svg{
			    									fill: $theme-clr-rate-asc;
			    								}
			    							}
			    							&.curr_des-val{
			    								color: $theme-clr-rate-des;
			    								svg{
			    									fill: $theme-clr-rate-des;
			    								}
			    							}
			    						}
				    				}
			    				}
			    				&:nth-child(4){
			    					.c-descInfo{
				    					display: flex;
				    					align-items: flex-end;
				    					justify-content: center;
				    					flex-flow: column nowrap;
				    					line-height: 1;
				    					&__cLinkWeb{
				    						margin-left: auto;
				    						margin-right: auto;
				    						&__link{
				    							display: block;
				    							text-align: center;
				    							background-color: $theme-clr-btn-visitweb;
				    							color: #fff;
				    							padding: 0.25rem 0.5rem;
				    							border-radius: 1.5rem;
				    							transition: all ease-in-out .2s;
													&:link,
											    &:visited,
											    &:focus,
											    &:active{
											    	color: #fff;
											    }
											    &:hover{
											    	background-color: darken($theme-clr-btn-visitweb, 10%);
											    }
				    							span{
				    								color: #fff;
				    								font-size: .9rem;
				    							}
				    						}
				    					}
				    				}
			    				}
			    			}
				    	}
				    }
					}
				}
			}
			/* CONTENIDO - VARIACIÓN DEL PRECIO */
			&__cpricevariation{
				flex: 50%;
				&__cTitle{
					&__title-h1{
						font-size: 1.5rem;
						font-style: normal;
						font-weight: 600;
						@media (min-width: 690px){
							margin-bottom: 0.5rem;
							font-size: 2.4rem;
						}
					}
					&__title-h3{
						font-size: 1.5rem;
						font-style: normal;
						font-weight: 600;
						@media (min-width: 690px){
							margin-bottom: 0.5rem;
							// font-size: 1.8rem;
						}
					}
					&__csubParagrap{
						p{
							color: $theme-clr-paragraph;
						}
					}
				}
			}
			/* CONTENIDO - NOTICIAS DE LA PLATAFORMA */
			&__cNewSlider{
				&__cTitle{
					margin-bottom: 1rem;
				}
				&__c{
					position: relative;
					&__cBtnIconSlide{
						position: absolute;
				    top: 20%;
				    left: 0;
				    transform: translateY(50%);
				    z-index: 9;
				    cursor: pointer;
				    &.ps-x-left{
							left: 0;
							right: auto;
							text-align: left;
							margin-right: 0;
							width: auto;
							display: none;
							@media (min-width: 768px){
								display: inline-block;
							}
							@media (min-width: 1024px){
								left: -54px;
							}
							.slider-arrow-left{
								display: table;
								text-align: center;
								margin: 5px;
								border: thin solid transparent;
								width: 46px;
								height: 44px;
								background-color: #fff;
								box-shadow: 0 5px 10px 0 rgba(0,0,0,.2);
								border-radius: 10px;
								&:hover{
									background-color: #F5F5F5;
									border: thin solid #fff;
								}
								svg{
									position: relative;
									top: 6px;
		    					right: 2px;
								}
							}
				    }
				    &.ps-x-right{
							right: 0;
				    	left: auto;
							text-align: right;
							margin-left: auto;
							width: auto;
							display: none;
							@media (min-width: 768px){
								display: inline-block;
							}
							@media (min-width: 1024px){
								right: -37px;
							}
							.slider-arrow-right{
								display: table;
								text-align: center;
								margin: 5px;
								border: thin solid transparent;
								width: 46px;
								height: 44px;
								background-color: #fff;
								box-shadow: 0 5px 10px 0 rgba(0,0,0,.2);
								border-radius: 10px;
								&:hover{
									background-color: #F5F5F5;
									border: thin solid #fff;
								}
								svg{
									position: relative;
									top: 6px;
		    					left: 2px;
		    					transform: rotate(180deg);
								}
							}
				    }
					}
					&__cList{
						&__i{
							position: relative;
							&__cImg{
								margin-bottom: 0.5rem;
								border-radius: 15px;
    						overflow: hidden;
    						&__link{
    							display: table;
    							&:link,
							    &:visited,
							    &:focus,
							    &:active{
							    	display: table;
							    }
							    &:hover{
							    	display: table;
							    	text-decoration: underline;
							    }
	    						img{
	    							width: 100%;
	    							height: auto;
	    						}
    						}
							}
							&__cDesc{
								padding-left: 0.5rem;
								padding-right: 0.5rem;
								&__link{
									display: block;
									min-height: 128px;
									height: auto;
									&:link,
							    &:visited,
							    &:focus,
							    &:active{
							    	display: table;
							    }
									&:hover{
										span.cIcndate{
											text-decoration: none !important;											
										}
										span.cTcont{
											text-decoration: underline;
										}
									}
									&__cInfoDate{
										display: flex;
										align-items: center;
										justify-content: flex-start;
										span{
											display: inline-block;
											vertical-align: middle;
											color: $theme-clr-paragraph;
											&:first-child{
												position: relative;
												top: 3px;
											}
											svg{
												vertical-align: middle;
												width: 25px;
												height: 25px;
											}
										}
									}
									&__cTitle{
										color: #000;
									}
								}
							}
						}
					}
				}
			}
			/* CONTENIDO - CONTENIDO + TÍTULO CON FONDO */
			&__bgTitleWidth{
				&__cBgTitle{
					background-color: $theme-clr-bgtitle;
					padding-top: 1.2rem;
					padding-bottom: 1.2rem;
					padding-left: 0.5rem;
					padding-right: 0.5rem;
					cursor: pointer;
					display: flex;
					align-items: center;
					justify-content: center;
					h1, h2, h3, h4, h5, h6, &__title{
						font-size: 1.65rem;
					}
					&__cIcon{
						max-width: 24px;
						min-height: 24px;
						width: 24px;
						height: 24px;
						position: relative;
						top: 2px;
						margin-left: 0.5rem;
						&.close{
							transform: rotate(180deg);
						}
						svg{
							fill: #000;
						}
					}
				}
				&__cCont{
					padding: 1rem;
					p{
						font-size: 1.25rem;
						margin-bottom: 1.5rem;
					}
					&__cCol{
						display: flex;
						align-items: flex-start;
						justify-content: center;
						flex-flow: wrap row;
						column-gap: 0.5rem;
						margin-bottom: 1rem;
						@media (min-width: 768px){
							flex-flow: nowrap row;
						}
						&__sec{
							text-align: left;
							&__cTitle{

							}
							&__cDesc{

							}
						}
					}
					&__item{
						&__title{
							font-size: 1.4rem;
							margin-bottom: 1rem;
						}
					}
				}
			}
			/* CONTENIDO - SOBRE NOSOTROS */
			&__cAbt-us{
				&__cTitle{
					text-align: center;
					max-width: 800px;
					width: 100%;
			    margin-left: auto;
			    margin-right: auto;
			    padding-top: 2rem;
			    @media (min-width: 690px){
						width: 95%;
			    }
					h2{
						font-size: 1.4rem;
					}
				}
				&__cC{
					&__cTitle{
						&--title{
							background-image: url(../img/utilities/pretitle.svg);
					    background-repeat: no-repeat;
					    background-position: center bottom;
					    background-size: 180px 5px;
					    padding-top: 50px;
					    padding-bottom: 1rem !important;
					    color: var(--color-1);
					    text-align: center;
					    font-size: 1.4rem;
					    font-weight: 700;
						}
					}
					&__cCont{
						padding: 0.5rem;
						@media (min-width: 768px){
							padding: 1rem;
						}
					}
				}
			}
			/* CONTENIDO - VARIACIÓN DEL DOLAR */
			&__cVartDollar{
				&__cTitle{
					margin-bottom: 1rem;
				}
				&__c{
					&__cCGraphic{
						height: 400px;
						border: thin solid #ddd;
					}
					&__cCnvt{
						background-color: #05040C;
						display: flex;
						align-items: center;
						justify-content: flex-start;
						&__ct{
							@media (min-width: 690px){
								padding: 1rem;
							}
							&__mL{
								display: flex;
								align-items: center;
								justify-content: space-between;
								flex-flow: wrap row;
								flex: 0 0 100%;
								@media (min-width: 690px){
									flex-flow: nowrap row;
								}
								&__i{
									color: #fff;
									padding-left: 10px;
							    padding-right: 10px;
							    display: flex;
							    align-items: center;
							    justify-content: center;
							    flex-flow: wrap column;
							    text-align: center;
							    flex: 0 0 33.333333%;
							    p{
							    	margin-bottom: 0.5rem;
							    }
							    &:first-child,
							    &:nth-child(2){
							    	p{
							    		font-size: 0.9rem;
							    	}
							    	@media (min-width: 690px){
							    		p{
							    			max-width: 80%;
							    		}
							    	}
							    }
							    &:first-child{
							    	p{
							    		strong{
							    			color: #4CA83D;
							    		}
							    	}
							    }
							    &:nth-child(2){
							    	p{
							    		strong{
							    			color: #D5270F;
							    		}
							    	}
							    }
							    &:nth-child(3){
							    	p{
							    		font-size: 0.9rem;
							    	}
							    }
							    &__cIptFk{
							    	background-color: #fff;
							    	border-radius: 8px;
							    	padding: 0.6rem 0.35rem;
							    	position: relative;
							    	display: flex;
							    	align-items: center;
							    	justify-content: center;
							    	span{
							    		position: absolute;
							    		color: #000;
							    		left: 0;
							    		font-size: 1.06rem;
							    	}
							    	input{
							    		border-radius: unset;
							    		border: none;
							    		outline: none;
							    		font-size: 1.5rem;
							    		width: auto;
							    		padding-left: 29px;
							    		max-width: 120px;
							    	}
							    }
							    &__itpExt{
							    	width: 100%;
							    	padding: 0.5rem;
							    	font-size: 1rem;
							    	margin-bottom: 0.85rem;
							    }
							    &__btnEmail{
							    	cursor: pointer;
							    	text-align: center;
										background-color: $theme-clr-btn-linkinit;
										color: #fff;
										transition: all ease-in-out .2s;
										padding: 0.55rem 1.65rem;
										font-size: 1rem;
										border-radius: 1.3rem;
										&:link,
								    &:visited,
								    &:focus,
								    &:active{
								    	color: #fff;
								    }
								    &:hover{
								    	background-color: darken($theme-clr-btn-linkinit, 10%);
								    }
							    }
								}
							}
						}
					}
				}
			}
		}
		&__cGrpBtn{
			display: flex;
			align-items: center;
			justify-content: center;
			flex-flow: wrap row;
			margin-left: auto;
			margin-right: auto;
			&__link{
				text-align: center;
				background-color: $theme-clr-btn-linkinit;
				color: #fff;
				transition: all ease-in-out .2s;
				padding: 0.55rem 1.65rem;
				font-size: 1.2rem;
				border-radius: 1.3rem;
				&:link,
		    &:visited,
		    &:focus,
		    &:active{
		    	color: #fff;
		    }
		    &:hover{
		    	background-color: darken($theme-clr-btn-linkinit, 10%);
		    }
			}
		}
		&__cCtFilterExH{
			padding-top: 1rem;
			padding-bottom: 1rem;
			padding-left: 0.5rem;
			padding-right: 0.5rem;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			flex-flow: wrap row;
			@media (min-width: 768px){
				justify-content: space-between;
			}
			&__cTxt{
				flex: 100%;
				margin-bottom: 0.8rem;
				h1, h2, h3, h4, h5, h6{
					font-size: 1.07rem;
					font-weight: 800;
					color: $theme-clr-paragraph-black;
				}
				@media(min-width: 991px){
					flex: auto;
				}
			}
			&__cFilter{
				display: flex;
				align-items: center;
				justify-content: flex-start;
				flex-flow: wrap row;
				row-gap: 1rem;
				width: 100%;
				margin-bottom: 0.8rem;
				flex: 0 0 100%;
				@media (min-width: 991px){
					width: auto;
					flex: auto;
				}
				&__select{
					width: 100%;
					@media (min-width: 690px){
						flex: 50%;
						max-width: 50%;
						padding-left: 10px;
						padding-right: 10px;
					}
					@media (min-width: 991px){
						min-width: 265px;
						max-width: 275px;
					}
					select{
						cursor: pointer;
						display: block;
				    width: 100%;
				    height: 56px;
				    padding: 6px 12px;
				    font-size: 14px;
				    line-height: 1.42857;
				    color: #555;
				    -webkit-appearance: none;
				    background: url(../img/utilities/arrow-dow.svg?v1) no-repeat 95% 50%;
				    background-color: #fafafa;
				    border: 0 solid #ccc;
				    border-radius: 2px;
				    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
				    box-shadow: 0 2px 2px rgb(0 0 0 / 24%), 0 0 2px rgb(0 0 0 / 12%);
						@media (min-width: 991px){
							max-width: 275px;
							width: 95%;
						}
						option{

						}
					}
				}
			}
			&__cBtn{
				flex: 100%;
				@media(min-width: 991px){
					flex: auto;
				}
				button, &__btn{
					cursor: pointer;
					display: inline-block;
					text-align: center;
					background-color: $theme-clr-btn-linkinit;
					color: #fff;
					border: none;
					transition: all ease-in-out .2s;
					padding: 0.55rem 1.65rem;
					font-size: 1rem;
					border-radius: 1.3rem;
					&:link,
			    &:visited,
			    &:focus,
			    &:active{
			    	color: #fff;
			    }
			    &:hover{
			    	background-color: darken($theme-clr-btn-linkinit, 10%);
			    }
				}
			}
		}
		&__cCtFilterVarDoll{
			padding-top: 1rem;
			padding-bottom: 1rem;
			padding-left: 0.5rem;
			padding-right: 0.5rem;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			flex-flow: wrap row;
			@media (min-width: 768px){
				justify-content: space-between;
			}
			&__cTxt{
				flex: 100%;
				margin-bottom: 0.8rem;
				h1, h2, h3, h4, h5, h6{
					font-size: 1.07rem;
					font-weight: 800;
					color: $theme-clr-paragraph-black;
				}
				@media(min-width: 991px){
					flex: auto;
					h1, h2, h3, h4, h5, h6{
						font-size: 1.3rem;
					}
				}
			}
			&__cFilter{
				display: flex;
				align-items: center;
				justify-content: flex-start;
				flex-flow: wrap row;
				row-gap: 1rem;
				width: 100%;
				margin-bottom: 0.8rem;
				flex: 0 0 100%;
				@media (min-width: 991px){
					width: auto;
					flex: auto;
				}
				&__select{
					width: 100%;
					@media (min-width: 690px){
						flex: 50%;
						max-width: 50%;
						padding-left: 10px;
						padding-right: 10px;
					}
					@media (min-width: 991px){
						min-width: 265px;
						max-width: 275px;
					}
					select{
						cursor: pointer;
						display: block;
				    width: 100%;
				    height: 56px;
				    padding: 6px 12px;
				    font-size: 14px;
				    line-height: 1.42857;
				    color: #555;
				    -webkit-appearance: none;
				    background: url(../img/utilities/arrow-dow.svg?v1) no-repeat 95% 50%;
				    background-color: #fafafa;
				    border: 0 solid #ccc;
				    border-radius: 2px;
				    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
				    box-shadow: 0 2px 2px rgb(0 0 0 / 24%), 0 0 2px rgb(0 0 0 / 12%);
						@media (min-width: 991px){
							max-width: 275px;
							width: 95%;
						}
						option{

						}
					}
				}
			}
			&__cBtn{
				flex: 100%;
				@media(min-width: 991px){
					flex: auto;
				}
				button, &__btn{
					cursor: pointer;
					display: inline-block;
					text-align: center;
					background-color: $theme-clr-btn-linkinit;
					color: #fff;
					border: none;
					transition: all ease-in-out .2s;
					padding: 0.55rem 1.65rem;
					font-size: 1rem;
					border-radius: 1.3rem;
					&:link,
			    &:visited,
			    &:focus,
			    &:active{
			    	color: #fff;
			    }
			    &:hover{
			    	background-color: darken($theme-clr-btn-linkinit, 10%);
			    }
				}
			}
		}
		&__cListExchH{
			&__cTitle{
				margin-bottom: 1.5rem;
				@media (min-width: 576px){
					text-align: center;
				}
				h1{
					font-size: 1.5rem;
			    font-style: normal;
			    font-weight: 600;
			    @media (min-width: 960px){
			    	font-size: 2.4rem;
			    }
				}
			}
			&__cL{
				&__m{
					display: flex;
					align-items: flex-start;
					justify-content: flex-start;
					flex-flow: wrap row;
					&__i{
						margin-bottom: 1.2rem;
						@media (min-width: 576px){
							flex: 0 0 50%;
    					max-width: 50%;
    					padding-right: 10px;
    					padding-left: 10px;
						}
						@media (min-width: 991px){
							flex: 0 0 33.33333%;
    					max-width: 33.33333%;
    					margin-bottom: 1.65rem;
						}
					}
					&__link{
						display: flex;
						align-items: center;
						justify-content: flex-start;
						flex-flow: nowrap row;
						flex: 0 0 100%;
						color: steelblue;
						&:link,
				    &:visited,
				    &:focus,
				    &:active{
				    	color: steelblue;
				    }
				    &:hover{
				    	text-decoration: underline;
				    }
						@media (min-width: 576px){
							flex-flow: nowrap column;
							align-items: flex-start;
						}
						&__cImg{
							flex: 0 0 33.33333%;
							margin-right: 0.5rem;
							@media (min-width: 576px){
								margin-bottom: 0.65rem;
							}
							img{

							}
						}
						&__cDesc{
							flex: 0 0 66.66667%;
							&--name{
								font-size: 1.1rem;
								font-weight: 600;
								@media (min-width: 576px){
									font-size: 1.3rem;
								}
								@media (min-width: 991px){
									font-size: 1.5rem;
								}
							}
						}
					}
				}
			}
		}
		&__cPriceTrend{
			&__cTitle{
				h2{
					font-size: 1.65rem;
					margin-bottom: 0.5rem;
				}
			}
			&__cCont{
				&__c{
					&__ct{
						height: 450px;
						border: thin solid #ddd;
					}
				}
			}
		}
		&__cVarDrtDay{
			&__cTitle{
				margin-bottom: 0.5rem;
				h2{
					font-size: 1.65rem;
				}
			}
			&__cCont{
				&__c{
					&__ct{
						height: 450px;
						border: thin solid #ddd;
					}
				}
			}
		}
	}
}
/* THEME - FOOTER */
.cFootr{
	&__cT{
		background-color: $theme-clr-primary;
		&__c{		
			display: flex;
	    flex-flow: wrap row;
	    flex: 0 0 100%;
	    align-items: flex-start;
	    justify-content: flex-start;
	    padding-top: 2rem;
	    padding-bottom: 1.5rem;
	    // @include grid-fit(287px);
	    @media (min-width: 690px){
	    	grid-template-columns: 1fr 1fr;
		    grid-column-gap: 1rem;
		    grid-row-gap: 1rem;
		    padding-left: 0.5rem;
    		padding-right: 0.5rem;
	    }
	    @media (min-width: 991px){
	    	grid-template-columns: repeat(4, 1fr);
		    grid-column-gap: 1.5rem;
		    justify-content: space-between;
	    }
			&__cont{
				margin-left: 1rem;
				margin-right: 1rem;
	    	margin-bottom: 1rem;
	    	@media (min-width: 768px){
	    		margin-bottom: 0;
	    	}
				&__cTitle{
					h1,h2,h3,h4,h5,h6,p{
						font-size: 1.25rem;
						margin-bottom: 0.5rem;
						color: #fff;
					}
				}
				&__cM{
					&__i{

					}
					&__link{
						display: block;
						line-height: 2.2;
						color: #fff;
						&:link,
				    &:visited,
				    &:focus,
				    &:active{
				    	color: #fff;
				    }
				    &:hover{
				    	text-decoration: underline;
				    }
				    &.n_hov-td{
				    	text-decoration: none;
				    	&:hover{
				    		text-decoration: none;
				    	}
				    }
						span{
							color: #fff;
						}
					}
				}
			}
		}
	}
}