/* VARIABLES GLOBALES PARA EL TEMA */
	/* FUENTES */
	// $font-family-1											: "Poppins", sans-serif;
	$font-family-1											: "Roboto", sans-serif;

	/* ANCHOS DE PANTALLA */
	$max-width													: 1400px;
	$max-width-redx											: 960px;
	$max-width-footer										: 1320px;

	/* COLORS - THEME */
	$theme-clr-primary									: #006B78;
	$theme-clr-btns											: #B80F0F;
	$theme-clr-btns-border							: #B80F0F;
	$theme-clr-btns-hover								: #FF5151;
	$theme-clr-btns-txt									: #fff;
	$theme-clr-paragraph								: #8E8E8E;
	$theme-clr-frm											: #017A6F;
	$theme-clr-frm-btn									: #009688;
	$theme-clr-frm-btn-hover						: #55B9AF;
	$theme-clr-frm-btn-calc							: #36A52C;
	$theme-clr-frm-btn-calc-hover				: #79C372;
	$theme-clr-frm-btn-clean						: #E12F31;
	$theme-clr-frm-btn-clean-hover			: #EB7475;
	$theme-clr-header-links							: #FFFFFF;
	$theme-clr-btn-visitweb							: steelblue;