RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
RewriteBase /preciodeldolar/

############ PAGES USERS
RewriteRule ^/?$ index.php
RewriteRule ^analisis-del-dolar?$ views/dollar-analysis.php
RewriteRule ^casas-de-cambio?$ views/exchange-houses.php
RewriteRule ^casas-de-cambio/([a-zA-Z_-]+)$ views/exchange-houses.php?region=$1 [L,NC]
RewriteRule ^casas-de-cambio/([a-zA-Z_-]+)/([a-zA-Z_-]+)$ views/exchange-houses.php?region=$1&distrito=$2 [L,NC]
RewriteRule ^noticias?$ views/news.php
RewriteRule ^nosotros?$ views/about-us.php

############ PAGES ADMIN
RewriteRule admin?$ admin/index.php
RewriteRule dashboard?$ admin/views/dashboard.php
RewriteRule logout-adm?$ admin/controllers/prcss_logout-adm.php

############# EVITAR QUE SE INGRESE A LAS CARPETAS
Options -Indexes

############# MENSAJE DE ERROR PERSONALIZADO
#RewriteRule 404?$ views/404.php
ErrorDocument 404 /views/404.php